<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <globalization uiCulture="es-PE" culture="es-PE" requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <sessionState timeout="120" />
  </system.web>
  <appSettings>
    <!--<add key="CadenaConeccion" value="SERVER=192.168.1.79;DATABASE=_MGERENCIAL;User ID=sa;Password=transportes*1234;packet size=4096;" />-->
    <add key="CadenaConeccion" value="SERVER=ABRAHAM-LENOVO\MSSQLSERVER2019;DATABASE=_MGERENCIAL;Encrypt=False;INTEGRATED SECURITY=True;packet size=4096;" />
    <!--<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />-->
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Asistencia.aspx" />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
